body {
  background: #548;
}

.aws-header {
  text-align: center;
  padding-top: 70px;
  min-height: 600px;
}

.aws-install {
  margin-top: 75px;
}

.aws-install-step {
  margin-bottom: 50px;
}

.aws-install-step p:nth-child(1) {
  font-family: "Roboto Condensed-Light", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: rgba(255,255,255,0.74);
  line-height: 30px;
}

.aws-install-step p:nth-child(2) {
  /* ami-1b46672b: */
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 37px;
}

.aws-install-step p:nth-child(3) {
  font-family: "Roboto Condensed-Light", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: rgba(255,255,255,0.74);
  line-height: 30px;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 38px;
  color: #FFFFFF;
  line-height: 47px;
  margin-bottom: 0;
}

h2 {
  font-family: "Roboto Condensed-Light", sans-serif;
  font-weight: 200;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 35px;
}

.other-downloads {
  color: white;
}

.other-downloads a {
  color: white;
}
